.vw-client {
   background-color: white;
   width: 82%;
   left: 17%;

  .modal-wrapper {
        display: inline-block;
        position: fixed;
        height: 10rem;
        width: 82%;
        bottom: 4rem;
        z-index: 333;

        .modal.bottom-sheet {
              width: 83%;
              left: 16%;
        }
   }

   input-field
   {
      .prefix
      {
         .active
         {
            color: #ffffff !important;
         }
      }
   }
   .pagination
   {
      li.active
      { background-color: #0d47a1 !important; }
   }

}
