@import 'vars';
@import 'typography';
@import './materialize/sass/master';
@import './views/master';

html, .ng-scope, body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: white;
  padding: 0px !important;
}

main {
    position: fixed;
    height: 100%;
    overflow: auto;
}

#mySidenavN {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 1510px) {
	#mySidenavN {
		.card .card-title {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 1470px) {
	#mySidenavN {
		.card .card-title {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 1375px) {
	#mySidenavN {
		.material-icons {
			font-size: 20px;
		}
		.card .card-title {
			font-size: 14px;
		}
	}
}

@media screen and (max-width: 1265px) {
	#mySidenavN {
		.card .card-title {
			font-size: 15px;
		}
	}
}

@media screen and (max-width: 1280px) {
	#mySidenavN {
		.card {
			a {
				padding-left: 18px;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	main {
		//position: static;
	}
	.vw-client {
		padding: 0;
		left: 0;
		width: 100%;
	}
	.vw-rutas {
		padding: 0;
		left: 0;
		width: 100%;
		#sidebar-ico {
		    top: -0.5%;
		    left: 1%;
		    color: #000;
		}
	}
	.vw-report {
		left: 0;
		width: 100%;
	}
	.vw-generacion-reporte {
		left: 0;
		width: 100%;
	}
	.nav-wrapper {
		position: absolute;
		z-index: -1;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	#mySidenavN {
		display: none;
		width: 20rem;
	}
	#sidebar-ico {
		position: fixed;
	    top: 2.5%;
	    z-index: 2;
	    font-size: 2.5rem;
	    cursor: pointer;
	    display: block;
	    color: #fff;
	}
	td, th {
	    padding: 10px 3px;
	}
}

.pagination li.active a {
  background-color: #0D47A1;
}



table.striped > tbody > tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.m-0 {
  margin: 0 !important;
}


.modal-overlay {
	
	background: black;
}

@media all and (min-width: 1024px) {
	[class*=vw-] {
		width: 84%;
		left: 16%;
	}
}