@import 'vars';
@import 'typography';
@import './materialize/sass/master';
@import './views/master';

html, .ng-scope, body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: 0px !important;
}

main {
  height: 100%;
}
