@import 'vars';
@import 'typography';
@import './materialize/sass/master';
@import './views/master';

html, .ng-scope, body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: white;
  padding: 0px !important;
}

main {
  height: 100%;
}
.pagination li.active a {
  background-color: #0D47A1;
}



table.striped > tbody > tr:nth-child(odd) {
  background-color: #f7f7f7;
}
