<main class="vw-client">

		<!-- Modal Structure -->
	<div class="modal-wrapper">
		<div id="search-modal" class="modal bottom-sheet">
			<div class="modal-footer">
				<form name="searchForm" ng-submit="ctrl.searchClients()">
						<div class="input-field">
							<i class="material-icons prefix">search</i>
							<input  id="search" type="text" autocomplete="off"
										 ng-model="ctrl.search">
						</div>
						<button type="submit" class=" modal-action modal-close waves-effect blue-grey btn-flat">Buscar</button>
	      </form>
			</div>
		</div>
	</div>

	<div class="col s9">
      <h3 class="thin">Estudiantes</h3>
        </div>


        <table style="width:7%">
		<tr>
			<th>
		<div class="add-button">
        <a class="modal-trigger btn-floating btn-small waves-effect waves-light blue-grey" href="#agregar">
         <i class="material-icons">add</i>
        </a>
        </div>
        </th>

        <th>
        <div class="ng-click="ctrl.showSearch()"">
        <a class="modal-trigger btn-floating btn-small blue-grey" href="#search-modal"> <i class="material-icons right blue-grey">search</i>
        </a>
         </div>
             </th>
		</tr>

	</table>
		<table class="bordered centered striped">
	        <thead>
	          <tr>
          			<th></th>
	          	  <th data-field="account_number" name="account_number">
                  <a id="account_number-header" ng-click="ctrl.sortClients('account_number')" class="waves-effect waves-blue darken-4 btn-flat">
                    Numero de Cuenta
                  </a>
                </th>
	              <th data-field="names" name="names">
                  <a id="names-header" ng-click="ctrl.sortClients('names')" class="waves-effect waves-blue darken-4 btn-flat">
                    Nombre
                  </a>
                </th>
	              <th data-field="phone" name="phone">
                  <a id="phone-header" ng-click="ctrl.sortClients('phone')" class="waves-effect waves-blue darken-4 btn-flat">
                    Telefono
                  </a>
                </th>
                </th>
	              <th data-field="email" name="email">
                  <a id="email-header" ng-click="ctrl.sortClients('email')" class="waves-effect waves-blue darken-4 btn-flat">
                    Correo
                  </a>
                </th>
	              <th data-field="card_number" name="card_number">
                  <a id="card_number-header" ng-click="ctrl.sortClients('card_number')" class="waves-effect waves-blue darken-4 btn-flat">
                    Numero de Carnet
                  </a>
                </th>
	              <th data-field="editar">Editar</th>
	              <th data-field="eliminar">Eliminar</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="client in ctrl.clients">
	          	<td> {{$index+1}} </td>
	          	<td>{{client.account_number}}</td>
	            <td>{{client.names}}</td>
	            <td>{{client.phone ? client.phone : 'N:A'}}</td>
	            <td>{{client.email}}</td>
	            <td>{{client.card_number}}</td>
	            <td><a id="editar-client" class="btn-floating waves-effect waves-light  blue darken-4 modal-trigger btn-small" href="#editar" ng-click="ctrl.setFocusedClient(client.id)"><i class="material-icons">mode_edit</i></a></td>
	            <td><a id="eliminar-client" class="btn-floating waves-effect waves-light  red darken-2 modal-trigger btn-small" href="#eliminar" ng-click="ctrl.setFocusedClient(client.id)"><i class="material-icons">delete</i></a></td>
	          </tr>
	        </tbody>
    </table>

    <ul class="pagination center-align">
	    <li class="{{ctrl.activePage == 0 ? 'disabled' : ''}}"
			    data-control="back" ng-click="ctrl.handlePageControlClick($event)">
				<a href="#!">
					<i class="material-icons">chevron_left</i>
				</a>
		</li>
			<li class="waves-effect {{$index == ctrl.activePage ? 'active' : ''}}"
					ng-repeat="n in ctrl.range" data-index="{{n}}" ng-click="ctrl.handlePageIndexClick($event)">
				<a href="#!">{{n}}</a>
			</li>

	    <li class="waves-effect {{ctrl.activePage == ctrl.range.length - 1 ? 'disabled' : ''}}"
			    data-control="foward" ng-click="ctrl.handlePageControlClick($event)" >
				<a href="#!">
					<i class="material-icons">chevron_right</i>
				</a>
			</li>
  	</ul>

		<!-- Modal CREAR -->
		<div id="agregar" class="modal">
		    <div class="modal-content">
		      <h5>Ingresar Estudiante</h5>
		      <!--txt Nombre-->
					<form action="" name="ctrl.postClientForm" id="post-client" method="post">
						<div class="row center">
							<div class="input-field col s6">
								<input placeholder="Numero de Cuenta" type='text'
											 name='account_number' id='id-num' ng-model="ctrl.post.account_number" required
											 class="{{ctrl.post.account_number.length > 0 ? '' : 'invalid'}}">
							</div>
							<div class="input-field col s6">
								<input placeholder="Numero de Carnet" type='text'
											 name='card_number' id='id-num' ng-model="ctrl.post.card_number" required
											 class="{{ctrl.post.card_number.length > 0 ? '' : 'invalid'}}">
							</div>
						</div>
						<div class="row center">
							<div class="input-field col s12">
								<input placeholder="Nombre Completo" type='text'
											 name='names' id='f-name' ng-model="ctrl.post.names" required
											 class="{{ctrl.post.names.length > 0 ? '' : 'invalid'}}">
							</div>
						</div>
						<!--txt direccion-->
						<div class="row center">
							<div class="input-field col s6">
								<i class="material-icons prefix">email</i>
								<input placeholder="Direccion de correo" id="direccion-de-correo" type="text"
								       ng-model="ctrl.post.email" required
											 class="{{ctrl.post.email.length > 0 ? '' : 'invalid'}}">
							</div>


						<!--txt Telefono-->

							<div class="input-field col s6">
								<i class="material-icons prefix">phone</i>
								<input placeholder="Telefono" id="telefono" type="text"
								       ng-model="ctrl.post.phone" required
											 class="{{ctrl.post.phone.length > 0 ? '' : 'invalid'}}">
							</div>
						</div>
				</div>
		    <div class="modal-footer">
		    	<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">SALIR</a>
		      	<button type="submit" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat"
						   ng-click="ctrl.submitClient(ctrl.postClientForm)" ng-show="ctrl.postClientForm.$valid">
							CREAR
						</button>
		    </div>
				</form>
		</div>

		<!-- Modal EDITAR -->
		<div id="editar" class="modal">
		    <div class="modal-content">
		      <h5>EDITAR</h5>
		      <p>Formulario de edici&#243;n de Estudiante</p>
		        <!--txt Nombre-->
              <form action=""  id="put-client" method="put">
                <div class="row center">
                  <div class="input-field col s6">
                    <input placeholder="Numero de Cuenta" type='text'
                           ng-model="ctrl.focusedClient.account_number" required
                           class="{{ctrl.focusedClient.account_number.length > 0 ? '' : 'invalid'}}">
                  </div>
                  <div class="input-field col s6">
                    <input placeholder="Numero de Carnet" type='text'
                           ng-model="ctrl.focusedClient.card_number" required
                           class="{{ctrl.focusedClient.card_number.length > 0 ? '' : 'invalid'}}">
                  </div>
                </div>
                <div class="row center">
                  <div class="input-field col s12">
                    <input placeholder="Nombre Completo" type='text'
                           ng-model="ctrl.focusedClient.names" required
                           class="{{ctrl.focusedClient.names.length > 0 ? '' : 'invalid'}}">
                  </div>
                </div>
                <!--txt direccion-->
                <div class="row center">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <input placeholder="Direccion de correo" type="text"
                           ng-model="ctrl.focusedClient.email" required
                           class="{{ctrl.focusedClient.email.length > 0 ? '' : 'invalid'}}">
                  </div>


                  <!--txt Telefono-->

                  <div class="input-field col s6">
                    <i class="material-icons prefix">phone</i>
                    <input placeholder="Telefono" type="text"
                           ng-model="ctrl.focusedClient.phone" required
                           class="{{ctrl.focusedClient.phone.length > 0 ? '' : 'invalid'}}">
                  </div>
                </div>
            </div>



		    <div class="modal-footer">
		    	<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">SALIR</a>
		      <a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat" ng-click="ctrl.edit()">EDITAR</a>
		    </div>
		    </div>
		</div>
		</div>

		<!-- Modal ELIMINAR -->
		<div id="eliminar" class="modal">
		    <div class="modal-content">
		      <h5>ELIMINAR</h5>
		      <p>Esta seguro que desea eliminar al siguiente estudiante?</p>
		      <row>
		      	<div class="col s12">
		      		<label><i class="material-icons prefix">perm_identity</i> {{ctrl.focusedClient.account_number}}</label>
		      	</div>
		      </row>
          <row>
            <div class="col s12">
              <label><i class="material-icons prefix">account_circle</i> {{ctrl.focusedClient.names}}</label>
            </div>
          </row>
		    </div>
		    <div class="modal-footer">
		    	<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">SALIR</a>
		      	<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat" ng-click="ctrl.delete()">ELIMINAR</a>
		    </div>
		</div>

	<!--Inicializando Modal-->
	<script>
		$(document).ready(function(){
			$('.modal').modal();
      $('select').material_select();

			//$('#agregar-client').on('click', () => $('select').material_select());
      //$('#editar-client').on('click', () => $('select').material_select());
			$('.modal-wrapper').css('z-index', '-1');
		  $('#search-modal').modal({
		     ready:  () => {
		     	$('.modal-wrapper').css('z-index', '1003');
		     	$('#search').focus();
		     },
         complete: () => $('.modal-wrapper').css('z-index', '-1')
      });
		});


	</script>
</main>
