		<nav>
			<div class="container">
			    <div class="nav-wrapper">
				    <div class="col s5">
					    <a class="page-title">CLIENTE</a> 
						<a class="modal-trigger" href="#agregar"><i class="material-icons right">playlist_add</i></a>
					</div>
			    </div>
			</div>
	    </nav>
		<table class="vw-client bordered centered" >
	        <thead>
	          <tr>
	              <th data-field="nombre">Nombre</th>
	              <th data-field="telefono">Telefono</th>
	              <th data-field="saldo">Saldo</th>
	              <th data-field="saldo">Editar</th>
	              <th data-field="saldo">Eliminar</th>
	          </tr>
	        </thead>

	        <tbody>
	          <tr nr-repear="client in clients track by $idCliente(client)">
	            <td>{{client.primerNombre}}</td>
	            <td>2553-8990</td>
	            <td>Lps. 500.00</td>
	            <td><a class="btn-floating btn-large waves-effect waves-light  blue darken-4 modal-trigger" href="#editar"><i class="material-icons">mode_edit</i></a></td>
	            <td><a class="btn-floating btn-large waves-effect waves-light  red darken-2 modal-trigger" href="#eliminar"><i class="material-icons">delete</i></a></td>
	          </tr>
	        </tbody>
    </table>

    <ul class="pagination center-align">
	    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
	    <li class="active"><a href="#!">1</a></li>
	    <li class="waves-effect"><a href="#!">2</a></li>
	    <li class="waves-effect"><a href="#!">3</a></li>
	    <li class="waves-effect"><a href="#!">4</a></li>
	    <li class="waves-effect"><a href="#!">5</a></li>
	    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  	</ul>

		<!-- Modal CREAR -->
		<div id="agregar" class="modal">
		    <div class="modal-content">
		      <h5>CREAR</h5>
		      <p>Formulario de creaci&#243;n de cliente</p>
		      <!--txt Nombre-->
		      <row>
		      	<div class="input-field col s12">
		      		<i class="material-icons prefix">account_circle</i>
		        	<input placeholder="Nombre" id="nombre" type="text" class="validate">
		        </div>
		      </row>
		      <!--txt Telefono-->
		      <row>
		      	<div class="input-field col s12">
			        <i class="material-icons prefix">phone</i>  
			        <input placeholder="Telefono" id="telefono" type="text" class="validate">
		        </div>
		      </row>
		      <!--txt Saldo-->
		      <row>
		      	<div class="input-field col s12">
		      		<i class="material-icons prefix">credit_card</i>  
		        	<input placeholder="Saldo" id="saldo" type="text" class="validate">
		        </div>
		      </row>
		    </div>
		    <div class="modal-footer">
		    	<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">SALIR</a>
		      	<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">CREAR</a>
		    </div>
		</div>

		<!-- Modal EDITAR -->
		<div id="editar" class="modal">
		    <div class="modal-content">
		      <h5>EDITAR</h5>
		      <p>Formulario de edici&#243;n de cliente</p>
		      <!--txt Nombre-->
		      <row>
		      	<div class="input-field col s12">
		      		<i class="material-icons prefix">account_circle</i>
		        	<input placeholder="Nombre" id="nombre" type="text" class="validate">
		        </div>
		      </row>
		      <!--txt Telefono-->
		      <row>
		      	<div class="input-field col s12">
			        <i class="material-icons prefix">phone</i>  
			        <input placeholder="Telefono" id="telefono" type="text" class="validate">
		        </div>
		      </row>
		      <!--txt Saldo-->
		      <row>
		      	<div class="input-field col s12">
		      		<i class="material-icons prefix">credit_card</i>  
		        	<input placeholder="Saldo" id="saldo" type="text" class="validate">
		        </div>
		      </row>
		    </div>
		    <div class="modal-footer">
		    	<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">SALIR</a>
		      	<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">EDITAR</a>
		    </div>
		</div>

		<!-- Modal ELIMINAR -->
		<div id="eliminar" class="modal">
		    <div class="modal-content">
		      <h5>ELIMINAR</h5>
		      <p>Esta seguro que desea eliminar al siguiente cliente?</p>
		      <row>
		      	<div class="col s12">
		      		<label><i class="material-icons prefix">account_circle</i> Nombre</label>
		      	</div>
		      </row>
		      <row>
		      	<div class="col s12">
		      		<label><i class="material-icons prefix">phone</i> Telefono</label>	
		      	</div>
		      </row>
		      <row>
		      	<div class="col s12">
		      		<label><i class="material-icons prefix">credit_card</i> Saldo</label>
		      	</div>
		      </row>
		    </div>
		    <div class="modal-footer">
		    	<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">SALIR</a>
		      	<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">ELIMINAR</a>
		    </div>
		</div>

	<!--Inicializando Modal-->
	<script>
		$(document).ready(function(){
			$('.modal-trigger').leanModal();
		});
	</script>