<div>
<section></section>
	<!-- <div align="center"><img src="images/2BCheckout.png" width="250px"/> -->
      <h3 class="center Grey thin">Bienvenido</h3></div>
      <p></p>
        <p id="dash" class="flow-text center">“2BCheckout - Control de estudiantes en el transporte del centro educativo, y administración de las tarjetas y/o carnet, y una aplicación móvil para android generar los viajes y hacer valido el abordaje por viajes por medio de la tarjeta NFC” o códigos de barra a fin de llevar un mejor control de cuantos estudiantes iban en cada viaje y evitar el ingreso de personas ajenas a la institución en las unidades de transporte.</p>
</div>
