<div>
<section></section>
	<div align="center"><img src="images/ebenezer.png" width="150px"/></div>
      <h3 class="center Grey thin">Bienvenido</h3>
      <p></p>
        <p class="flow-text center">Somos un ministerio prosperado por la Palabra, con revelaci&#243;n y cimientos apost&#243;licos, bajo la unci&#243;n del Esp&#237;ritu Santo, para entregar un mensaje de salvaci&#243;n y edificar el cuerpo de Cristo por familias, logrando una bendici&#243;n total en el esp&#237;ritu, alma y cuerpo.</p>
</div>
