<!DOCTYPE html>
<html>
<head>
	<title>Ebenezer Ruta de buses</title>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

   <!-- Navbar goes here -->

    <!-- Page Layout here -->
    <div class="row">


      </div>

      <div class="col s9">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p></p>
      <h3 class="center Grey thin">Bienvenido</h3>
      <p></p>
        <p class="flow-text center">Somos un ministerio prosperado por la Palabra, con revelaci&#243;n y cimientos apost&#243;licos, bajo la unci&#243;n del Esp&#237;ritu Santo, para entregar un mensaje de salvaci&#243;n y edificar el cuerpo de Cristo por familias, logrando una bendici&#243;n total en el esp&#237;ritu, alma y cuerpo.</p>
      </div>

    </div>
          

</body>
</html>