<main class="vw-rutas">
    <!-- Modal Structure -->
  <div id="search-modal" class="modal bottom-sheet">
    <div class="modal-footer">
      <form name="searchForm" ng-submit="ctrl.searchRutas()">
          <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input  id="search" type="text" autocomplete="off"
                   ng-model="ctrl.search" required>
          </div>
          <button type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat">Buscar</button>
      </form>
    </div>
  </div>

    <div class="col s9">
      <h3 class="thin">Rutas</h3>
      <div class="add-button">
        <a class="modal-trigger btn-floating btn-large waves-effect waves-light blue-grey" href="#agregar">
          <i class="material-icons">add</i>
        </a>
      </div>

      <table class="bordered centered highlight striped">
          <thead>
            <tr>
                <th data-field="nombre">Nombre</th>
                <th data-field="descripcion">Descripcion</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ruta in ctrl.rutas">
              <td>{{ruta.nombre}}</td>
              <td>{{ruta.descripcion}}</td>
              <td>
                <a class="btn-floating btn-large waves-effect waves-light  blue darken-4 modal-trigger" href="#editar" ng-click="ctrl.setFocusedRoute(ruta.idRuta)">
                  <i class="material-icons">mode_edit</i>
                </a>
              </td>
            <td>
              <a class="btn-floating btn-large waves-effect waves-light  red darken-2 modal-trigger" href="#eliminar" ng-click="ctrl.setFocusedRoute(ruta.idRuta)">
                <i class="material-icons">
                  delete
                </i>
              </a>
            </td>
            </tr>
          </tbody>
      </table>
    </div>

    <ul class="pagination center-align">
      <li class="{{ctrl.activePage == 0 ? 'disabled' : ''}}"
          data-control="back" ng-click="ctrl.handlePageControlClick($event)">
        <a href="#!">
          <i class="material-icons">chevron_left</i>
        </a>
    </li>
      <li class="waves-effect {{$index == ctrl.activePage ? 'active' : ''}}"
          ng-repeat="n in ctrl.range" data-index="{{n}}" ng-click="ctrl.handlePageIndexClick($event)">
        <a href="#!">{{n}}</a>
      </li>

      <li class="waves-effect {{ctrl.activePage == ctrl.range.length - 1 ? 'disabled' : ''}}"
          data-control="foward" ng-click="ctrl.handlePageControlClick($event)" >
        <a href="#!">
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
    </ul>

    <!-- Modal CREAR -->
    <div id="agregar" class="modal">
        <form class="col s12" name="ctrl.postRutaForm" id="post-ruta" method="post">
        <div class="modal-content">
          <h3 class="Grey thin">Ingresar Ruta</h3>

            <div class="row">
              <div class="input-field col s6">
                <input type='text'
                       name='name' id='name' ng-model="ctrl.post.name" required
                       class="validate">
               <label for="name">Ruta</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input type='text'
                       name='description' id='description' ng-model="ctrl.post.description" required
                       class="validate">
               <label for="description">Descripcion</label>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-light btn blue-grey" ng-show="ctrl.postRutaForm.$invalid">SALIR</a>

          <a href="#!" class=" modal-action modal-close waves-effect waves-light btn blue-grey" ng-show="ctrl.postRutaForm.$valid" ng-click="ctrl.submitRuta(ctrl.postRutaForm)">Crear</a>

        </div>
        </form>
    </div>

    <!-- Modal EDITAR -->
    <div id="editar" class="modal">
        <div class="modal-content">
          <p>Formulario de edici&#243;n de ruta</p>
          <row>
            <div class="input-field col s12">
              <i class="material-icons prefix">directions_bus</i>
              <input placeholder="Ruta" id="nombre" type="text" class="validate" ng-model="ctrl.focusedRoute.nombre">
            </div>
          </row>
          <row>
            <div class="input-field col s12">
              <i class="material-icons prefix">assignment</i>
              <input placeholder="Zona" id="descripcion" type="text" class="validate" ng-model="ctrl.focusedRoute.descripcion">
            </div>
          </row>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-light btn blue-grey">SALIR</a>
          <a href="#!" style="margin-right: 1rem" class=" modal-action modal-close waves-effect waves-light btn blue-grey" ng-click="ctrl.edit()">
            EDITAR
          </a>
        </div>
    </div>

    <!-- Modal ELIMINAR -->
    <div id="eliminar" class="modal">
        <div class="modal-content">
          <p>Esta seguro que desea eliminar la siguiente ruta?</p>
          <row>
            <div class="col s12">
              <label>
                <i class="material-icons prefix">directions_bus </i> <span style="color:black; font-size:1.5rem;"> {{ctrl.focusedRoute.nombre}} </span> </label>
            </div>
          </row>
          <row>
            <div class="col s12">
              <label>
                <i class="material-icons prefix">assignment </i> <span style="color:black; font-size:1.5rem;"> {{ctrl.focusedRoute.descripcion}} </span></label>
            </div>
          </row>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-light btn blue-grey">SALIR</a>
          <a href="#!" style="margin-right: 1rem" class=" modal-action modal-close waves-effect waves-light btn blue-grey" ng-click="ctrl.delete()">ELIMINAR</a>
        </div>
    </div>

  <!--Inicializando Modal-->
  <script>
    $(document).ready(function(){
      $('.modal').modal();
    });
  </script>
</main>
