<main class="vw-service">
<!-- Modal Structure -->
<div class="modal-wrapper">
	<div id="search-modal" class="modal bottom-sheet">
		<div class="modal-footer">
			<form name="searchForm" ng-submit="ctrl.searchServices()">
				<div class="input-field">
					<i class="material-icons prefix">search</i>
					<input  id="search" type="text" autocomplete="off"
					ng-model="ctrl.search" required>
				</div>
				<button type="submit" class=" modal-action modal-close waves-effect blue-grey btn-flat">Buscar</button>
			</form>
		</div>
	</div>
</div>
<nav>
	<div class="nav-wrapper blue-grey">
		<ul class="right hide-on-med-and-down">
			<li ng-click="ctrl.showSearch()">
				<a class="modal-trigger" href="#search-modal"> <i class="material-icons right">search</i></a>
			</li>
			<li><a class="modal-trigger" href="#agregar"><i class="material-icons right">playlist_add</i></a></li>
			<li><a> Servicios </a></li>
		</ul>
	</div>
</nav>

<table class="bordered centered striped">
	<thead>
		<tr>
			<th data-field="nombre">Nombre</th>
			<th data-field="saldo">Editar</th>
			<th data-field="saldo">Eliminar</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="service in ctrl.services">
			<td><a href="/servicios/{{service.id}}" class="waves-effect waves-blue darken-4 btn-flat">{{ctrl.getServiceName(service)}}</a></td>
			<td><a class="btn-floating btn-large waves-effect waves-light  blue darken-4 modal-trigger" href="#editar" ng-click="ctrl.setFocusedService(service.id)"><i class="material-icons">mode_edit</i></a></td>
			<td><a class="btn-floating btn-large waves-effect waves-light  red darken-2 modal-trigger" href="#eliminar" ng-click="ctrl.setFocusedService(service.id)"><i class="material-icons">delete</i></a></td>
		</tr>
	</tbody>
</table>
<ul class="pagination center-align">
	<li class="{{ctrl.activePage == 0 ? 'disabled' : ''}}"
		data-control="back" ng-click="ctrl.handlePageControlClick($event)">
		<a href="#!">
			<i class="material-icons">chevron_left</i>
		</a>
	</li>
	<li class="waves-effect {{$index == ctrl.activePage ? 'active' : ''}}"
		ng-repeat="n in ctrl.range" data-index="{{n}}" ng-click="ctrl.handlePageIndexClick($event)">
		<a href="#!">{{n}}</a>
	</li>
	<li class="waves-effect {{ctrl.activePage == ctrl.range.length - 1 ? 'disabled' : ''}}"
		data-control="foward" ng-click="ctrl.handlePageControlClick($event)" >
		<a href="#!">
			<i class="material-icons">chevron_right</i>
		</a>
	</li>
</ul>
<!-- Modal CREAR -->
<div id="agregar" class="modal">
	<div class="modal-content">
		<h5>Ingresar Servicio</h5>
		<!--txt Nombre-->
		<form action="" name="ctrl.postServiceForm" id="post-service" method="post">
			<div class="row center">
				<div class="input-field col s6">
					<input placeholder="Nombre" type='text'
					name='name' id=s-name' ng-model="ctrl.post.name" required
					class="{{ctrl.post.name.length > 0 ? '' : 'invalid'}}">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">SALIR</a>
			<button type="submit" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat"
			ng-click="ctrl.submitService(ctrl.postServiceForm)" ng-show="ctrl.postServiceForm.$valid">
			CREAR
			</button>
		</div>
	</form>
</div>
<!-- Modal EDITAR -->
<div id="editar" class="modal">
	<div class="modal-content">
		<h5>EDITAR</h5>
		<p>Formulario de edici&#243;n de servicio</p>
		<div class="row center">
			<!--txt Nombre-->
			<row>
			<div class="input-field col s6">
				<input placeholder="Nombre" type='text' id='nombre' ng-model="ctrl.focusedService.nombre" required class="{{ctrl.focusedService.nombre > 0 ? '' : 'invalid'}}">
			</div>
			</row>
			<div class="modal-footer">
				<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">SALIR</a>
				<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat" ng-click="ctrl.edit()">EDITAR</a>
			</div>
		</div>
	</div>
</div>
<!-- Modal ELIMINAR -->
<div id="eliminar" class="modal">
	<div class="modal-content">
		<h5>ELIMINAR</h5>
		<p>Esta seguro que desea eliminar al siguiente servicio?</p>
		<row>
		<div class="col s12">
			<label><i class="material-icons prefix">account_circle</i> {{ctrl.getServiceName(ctrl.focusedService)}}</label>
		</div>
		</row>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat">SALIR</a>
		<a href="#!" class=" modal-action modal-close waves-effect waves-blue darken-4 btn-flat" ng-click="ctrl.delete()">ELIMINAR</a>
	</div>
</div>
<!--Inicializando Modal-->
<script>
	$(document).ready(function(){
		$('.modal').modal();
	});
</script>
</main>